@import "color";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
  body{
    font-family: 'khula';
    background-color: ghostwhite;
  }
}
.dark-gray{
  background-color: $dark-gray;
}
.gray-medium{
  background-color: $gray-medium;
}
.gray-green{
  background-color: darkslategray;
}
.gray-soft{
  background-color: $gray-soft;
}
.gold{
  background-color: $gold;
}
.c-white{
  color: white;
}

.flex-container{
  display: flex;
}
.jus-center{
  justify-content: center;
}
.m-20-0{
  margin: 2rem 0;
}
.main-container{
  height: 100vh;
  align-items: center;
}
.form-calculator{
  height: 75vh;
  align-items: flex-end;
  width: 90%;
  max-width: 30rem;
  border-radius: 3rem;
  .calculator-content{
    width: 100%;
    height: 80%;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    flex-direction: column;
  }
  input[type=button], button{
    border-radius: 50%;
    outline: none;
    font-size: 3rem;
    width: 20%;
    height: 4.5rem;
  }
  hr{
    border: 2px solid white;
    width: 85%;
    margin: 0 auto;
  }
}
.screen{
  height: 4rem;
  width: 85%;
  font-size: 2.5rem;
}
